<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="\static\css\love.css">
<meta charset="utf-8">
<title>网上学习平台简易操作手册</title>

</head>

<body class="demo2-bg" >
<div class="header" id="head" style="background-color:#efefef;margin: 40px;width: 94%;"  >
  <div  style="text-align:center;font-size:30px;height:50px">网上学习平台简易操作手册</div>
<div class="update-wrapper cssPadbody " style="width: 94%;">
	<h2>一、环境准备</h2>
	<h3>1、配置浏览器</h3>
	<p>  标准配置：谷歌浏览器，其他浏览器不能保证系统功能正常，可能影响考试结果。
请大家到网上自行下载，或者联系系统管理员，下发指定版本。</p>
	<h3>2、配置VPN</h3>
	<p>需要登陆VPN以后才可以有权限登录网上学习平台。请联系管理员，获取VPN安装包。</p>
	<p>公共VPN连接地址：https://218.6.169.104</p>
	<p>公共VPN帐号：kaoshi</p>
	<p>公共VPN密码：sccl@2019..!q</p>
	<img src="\static\img\vpn.png">
</div >
	<div class="update-wrapper cssPadbody" style="margin:20px;width:94%;">
	<h2>二、在线考试</h2>
	<h3>第一步：登陆</h3>
	<p>打开网上学习平台网址：http://10.206.1.168:8081/ccsedu/a/login.do</p>
	<p>进入登录界面，如下图所示</p>
	<p>输入用户名（您的手机号）和密码（默认：1qaz@WSX）</p>
	<img src="\static\img\login.jpg">
		<h3>第二步：修改密码</h3>
		<p>进入首页点击右上角菜单-【后台管理】进入后台管理界面</p>
		<img src="\static\img\后台管理.png">
		<img src="\static\img\editpassword-1.png">
		<p>然后点击右上角【修改密码】按钮，进入修改密码界面，输入默认密码和您的新密码保存，密码修改成功后会自动返回到登录页面，使用新密码登录即可</p>
		<img src="\static\img\editpassword-2.png">
		<p>修改好密码之后，点击右上角的【个人头像】，选中【前台首页】，返回首页。</p>
		<img src="\static\img\frontpage.png">
</div>




</body>
</html>
